.consultar_historico {
  max-width: 70%;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.opcoes ul {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.opcoes ul li {
  margin: 0 10px;
}

.opcoes ul li a {
  text-decoration: none;
}

.opcoes ul li a button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.opcoes ul li a button:hover {
  background-color: #555;
}

.botao_historico {
  margin-top: 25px;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.botao_historico:hover {
  background-color: #0056b3;
}
